<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springtest.mapper.EmployeesMapper">
    <!-- 使用resultMap作为返回   -->
    <select id="all" resultMap="employeeResultMap">
        select *
        from employees
    </select>

    <select id="findBy" parameterType="String" resultMap="employeeResultMap">
        select *
        from employees
        where name LIKE '%${parameter}%'
           or id = #{parameter}
    </select>

    <insert id="add" parameterType="com.example.springtest.entity.Employees">
        insert into employees (name, department_id, position, hire_date)
        values (#{employee.name}, #{employee.departmentId}, #{employee.position}, #{employee.hireDate})

    </insert>
    <!-- 　排版-->
    <delete id="deleteByID">

        delete
        from employees
        where id = ${id}

    </delete>



    <update id="update" parameterType="com.example.springtest.entity.Employees">
        update employees
        set name= #{employee.name},
            department_id =#{employee.departmentID},
            position =#{employee.position},
            hire_date =#{employee.hireDate}
        where id = ${employee.id};
    </update>

    <update id="isDelete">
        update employees
        set is_delete=1
        where id = ${id};
    </update>

    <resultMap id="employeeResultMap" type="com.example.springtest.entity.Employees">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="departmentId" column="department_id"/>
        <result property="position" column="position"/>
        <result property="hireDate" column="hire_date"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>


</mapper>
