<!DOCTYPE html>
<html>
<head>
    <title>File Upload and Download</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>File Upload</h1>
<form method="POST" action="/upload" enctype="multipart/form-data" id="uploadForm">
    <input type="file" name="uploadFile" />
    <input type="submit" value="Upload" id="uploadButton" />
</form>
<pre id="fileData"></pre>
<label for="fileIdInput">Enter File ID to Download:</label>
<input type="text" id="fileIdInput" /> <!-- 输入框，用于输入文件ID -->
<button id="downloadButton">Download File</button> <!-- 下载按钮 -->

<form id="downloadForm" method="POST" style="display: none;">
</form>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        var uploadButton = document.getElementById('uploadButton');


        fetch('/upload', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json()) //！！解析JSON响应
            .then(result => {
                //将整个file对象转换为字符串并显示
                document.getElementById('fileData').innerText = JSON.stringify(result.data, null, 2);
                document.getElementById('uploadForm').reset();
            })
            .catch(error => {
                console.error('Error uploading file:', error);
            })

    });

    document.getElementById('downloadButton').addEventListener('click', function() {
        var fileIdInput = document.getElementById('fileIdInput');
        var fileId = fileIdInput.value;
        if (!isNaN(fileId) && Number.isInteger(parseInt(fileId))) {
            var downloadForm = document.getElementById('downloadForm');
            downloadForm.action = '/download/' + fileId;
            downloadForm.submit();
        } else {
            alert('Please enter a valid file ID.');
        }
    });
</script>

</body>
</html>



